@model Rating.Models.ProjectModel
<h2>RatingType List</h2>
    <table>
           @foreach (var rt in Model.RatingTypes)
           {

               <tr>
                   <td>@rt.Name @Html.ActionLink("Edit", "Edit", "RatingType", new { projectId = @Model.Id, id = @rt.Id }, null)    
                    @Html.ActionLink("Delete", "Delete","RatingType", new { projectId = @Model.Id, id=@rt.Id }, null)</td>
               </tr>
           }
            <tr>
                <td><a href="/RatingType/Create/@Model.Id"> + </a></td>
            </tr>
    </table>
