@model Rating.Models.RatingTypeModel
<h3>ActionType</h3>
<table>
    @foreach (var at in Model.ActionTypes) 
    {
        <tr>
            <td>@at.Name   @Html.ActionLink("Edit", "Edit", "ActionType", new { ratingTypeId = @Model.Id, id = @at.Id }, null) 
                @Html.ActionLink("Delete", "Delete", "ActionType", new { ratingTypeId = @Model.Id, id = @at.Id }, null)</td>
        </tr>
    }
    <tr>
        <td><a href="/ActionType/Create/?ratingTypeId=@Model.Id"> + </a></td>
    </tr>
</table>
